/* Demo CSS - You do not need this css in your own slider */

body{
	font-family: "Open Sans", helvetica, arial;
	text-align: center;
}

h1{
	font-size: 48px;
}

pre + h2{
	margin-top: 80px;
}

#site-container{
	width:80%;
	margin:auto;
	text-align: left;
}

div#frame-wrapper{
	position: relative;
	width: 960px;
	height: 480px;
	margin:0 auto;
}
div#frame-wrapper img#logo {
	position: absolute;
	z-index: 5;
	top: 12px;
	left: 12px;
}
div#frame-wrapper img#mask {
	position: absolute;
	z-index: 4;
	top: 0px;
	left: 0px;	
}.inline-pre {
	font-family: "Lucida Console", Monaco, monospace;
}
